.button-register {
    width: 100%;
    background-color: #426B1F;
    border: none;
    border-radius: 8px;
    font-family: "Montserrat", serif;;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 30px 20px;
}