.user-input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-input-field label {
    font-size: 1rem;
    font-weight: 500;
}

.user-input-field input {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    padding: 1.125rem;
    font-size: 1rem;
    font-weight: 300;
}
