



/*@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-background: #f5750c;
  --label: #212121;
}


@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}*/

/*
@import 'tailwindcss';
@config '../../tailwind.config.ts';
*/

/*
@theme {
  --Lobster: "Lobster", sans-serif;
}
*/

/*@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
  }
}*/

:root {
  --background: #ffffff;
  --button-background: #f5750c;
  --label: #212121;
}


@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
 background: var(--button-background);
}

input {
  background: var(--background);
  border: none;

}

label {
  color: var(--label);
}

h1 {
  font-size: var(--text-6xl);
}

