@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");


@font-face {
  font-family: "Lobster";
  src: url("/fonts/lobster-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-background: #f5750c;
  --label: #212121;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@import 'tailwindcss';
@config '../../tailwind.config.ts';

@theme {
  --Lobster: "Lobster", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
  }
}

:root {
  --background: #ffffff;
  --label: #212121;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  background: var(--background);
  border: none;
}

label {
  color: var(--label);
}
*/
