.form-register{
    display: flex;
    justify-content: center;
}

.form-register form{
    max-width: 80%;
    background-color: #FAFAF5;
    box-shadow: 7px 7px 15px rgb(0, 0, 0, 10%);
    border-radius: 20px;
    padding: 8px 100px;
}

.form-register h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}
