.user-data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', serif;
    gap: 1rem;
}

.user-data-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 40rem;
    background-color: #FAFAF5;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, 3%);
    border-radius: 1.25rem;
    padding: 2rem;
}

.user-data-form h2 {
    font-size: 1.65rem;
    font-weight: 400;
    color: #212121;
}

.user-data-form div {
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.user-data-form__error {
    font-size: 1rem;
    color: #ff0303;
}

.user-data-form__navigate {
    display: flex;

    width: 100%;
    max-width: 40rem;
    font-size: 1rem;
}
