.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    width: 100%;
    background-color: white;
    border-bottom: 1px solid;
    border-color: #ece7e7;
    color: black;
}

.header h1{
    font-size: 3em;
    font-weight: 400;
}